body{
background-color:#000000 ;    
}


p{
  color: aliceblue;
  font-size: ;
}

h1,h2{
    color: aliceblue;
    text-align: center;
}

figure{
    text-align: center;
}
.container{
    width:30%;
    margin: auto;
}

 .img_topo{
     width: 30s%;
 }

.img_corpo{

     width: 50%;
}