html{
    scroll-behavior: smooth;
}

body{
background-color:#686868 ;    
}

.itens_menu{
    text-align: center;
    line-height: 1.5;
    padding-top: 0.8%;
    font-size: 1.3em;
}

.itens_menu a:visited, .itens_menu a:link{
   text-decoration: none;
   font-weight: bolder;
}

.itens_menu a:hover{
    background-color: 	#6495ED;
    /*mouse over link*/
    color: black;
}

h1,h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2em;
    margin-top: 1.3%;
    margin-bottom: 1.3%;
}

figure{
    text-align: center;
    margin-top: 1.3%;
    margin-bottom: 1.3%;
}

.container{
    width:70%;
    margin: auto;
}

 .img_topo{
     width: 80%;
 }

.img_corpo{

     width: 50%;
}

p{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.3%;
    margin-bottom: 1.3%;
    text-indent: 40px;
    line-height: 1.5em;
  }

  
/* unvisited link */
 a:link {
    color: slateblue; 
  }
  
  /* visited link */
  a:visited {
    color:#98FB98; 
 
  }
  
  /* mouse over link */
  a:hover {
    color:	#FFFACD; 

  }
  
  /* selected link */
  a:active {
    color:darkseagreen; 
  }
  

footer {
    background-color: #FF6347;
    padding: 1.3%;
    text-align: center;
}

.img_direita{
    float: left;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    width: 35%;
}